{% extends 'base.html.twig' %}

{% block title %}Candidat index{% endblock %}

{% block body %}
    <h1>Candidat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email_contact</th>
                <th>Numero_tel</th>
                <th>Promotion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.nom }}</td>
                <td>{{ candidat.prenom }}</td>
                <td>{{ candidat.emailContact }}</td>
                <td>{{ candidat.numeroTel }}</td>
                {% if candidat.promotion.nom is defined %}
                    <td><a href={{ url('app_promotion_show', { id: candidat.promotion.id }) }}>{{ candidat.promotion.nom }}</a></td>  
                {% else %}
                    <td></td>
                {% endif %} 
                <td>
                    <a href="{{ path('app_candidat_show', {'id': candidat.id}) }}">Details</a>
                    <a href="{{ path('app_candidat_edit', {'id': candidat.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun résultat found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_candidat_new') }}">Créer nouveau</a>
{% endblock %}
